header {
  background-color: white;
  background-image: linear-gradient(
    to bottom right,
    hsl(331, 50%, 58%),
    rgba(165, 130, 60, 0.9490196078)
  );
  margin-bottom: 2rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 1rem;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li {
      list-style-type: none;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .navbar-logo {
    width: 100px;
    height: auto;
  }
}
