:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #d6e9f3, #f3dbd8, #f6f3dd);
}

body {
  margin: 0;
  padding-top: 2vh;
  box-sizing: border-box;
  background: linear-gradient(to right, #d6e9f3, #f3dbd8, #f6f3dd);
}
